In [32]:
import re
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [64]:
file = "PF00023_ncbi.txt"
def readAlignment(file):
    with open(file) as f:
        lines = f.readlines()
    line_numbers = [i for i in range(len(lines)) if '>' in lines[i] ]

    names = [lines[i].replace('\n','').replace('>','') for i in line_numbers]
    sequences = [''.join(lines[i+1:i+4]).replace('\n','') for i in line_numbers]
    msa = np.zeros([len(names),len(sequences[0])+1],dtype=np.object_)   
    msa[:,0] = names
    for tick_l in range(len(sequences)):
        msa[tick_l,1:] = list(sequences[tick_l])
    return msa

In [68]:
def msa_remove_gaps(msa,cutoff_gaps=0.7):
    gaps = np.sum(msa=='-',axis=0)/(len(msa))
    return msa[:,gaps<cutoff_gaps]

In [69]:
def names_split(msa):
    names = msa[:,0]
    names_df = pd.DataFrame(names,)
    names_df=names_df[0].str.split('/',n=1,expand=True)
    names_df[[1,2]]=names_df[1].str.split('-',n=1,expand=True)
    return names_df
def MSA_n_neighbors(msa,n=1,outfile=None):
    names=names_split(msa)
    f=pd.DataFrame(names[0].value_counts())
    f[f[0]>n]

In [70]:
msa = readAlignment(file)
msa = msa_remove_gaps(msa)
msa

array([['390354872/18-46', '-', 'D', ..., 'R', '-', '-'],
       ['390354872/50-82', 'D', 'N', ..., 'R', 'A', 'D'],
       ['390354872/83-109', 'D', 'G', ..., '-', '-', '-'],
       ...,
       ['12841457/65-88', '-', '-', ..., 'T', 'V', 'N'],
       ['324502088/194-222', '-', '-', ..., 'Q', 'L', '-'],
       ['221221352/127-141', 'H', 'G', ..., '-', '-', '-']], dtype=object)

In [71]:
names = names_split(msa)
f = pd.DataFrame(names[0].value_counts())
n1 = names.loc[names[0].isin((f[f[0]>1].index))]
for (tick_n1 in range(len(n1)):
     enp =

In [72]:
n1

                0     1     2
0       390354872    18    46
1       390354872    50    82
2       390354872    83   109
3       390354872   116   148
4       390354872   149   180
5       390354872   182   211
6       390354872   215   243
7       390354872   280   307
8       390354872   313   344
9       390354872   346   373
10      390354872   378   410
11      390354872   411   438
12      390354872   444   473
13      390354872   477   503
14      390354872   511   538
15      390354872   544   572
16      390354872   576   604
17      390354872   608   635
18      390354872   641   672
19      390354872  1005  1028
20      390354872  1032  1061
21      390354872  1065  1097
22      390354872  1098  1116
23      390354872  1119  1147
24      390354872  1152  1179
25      390354872  1184  1212
26      390354872  1218  1246
27      390354872  1251  1278
28      390354872  1283  1311
29      390354872  1336  1367
...           ...   ...   ...
136591  295658921   193   215
136592  295658921   223   247
136615  367011737   463   486
136616  367011737   584   614
136636  388856508   588   624
136637  388856508   713   743
136648  343426588   584   620
136649  343426588   709   739
136673  326489229    38    63
136674  326489229    69    91
136701  124378201    71    89
136702  124378201    92   115
136778  123192584     1    17
136779  123192584    18    42
136789  366989239   525   551
136790  366989239   646   676
136846  111054505   296   325
136847  111054505   328   355
136853  123474918    36    63
136854  123474918   134   167
136911  167536254    68    98
136912  167536254   105   131
137014  156846027   342   372
137015  156846027   463   493
137149   91206030    22    51
137150   91206030    60    79
137162  123437238     9    33
137163  123437238    39    57
138008  323446633    30    61
138009  323446633    63    84

[129973 rows x 3 columns]

In [62]:
msa.shape

(139773, 33)

In [63]:
(len(msa))

139773